@charset "UTF-8";
/* 変数定義 */
/* 共通スタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

img {
  height: auto;
  vertical-align: bottom;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 960px) {
  html {
    font-size: 13px;
    touch-action: manipulation;
  }
}

body {
  font-family: "Kaisei HarunoUmi", serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* --------------------------------------------
ヘッダー
-------------------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 5%;
  background-image: url(../img/purple_pattern.png);
  background-repeat: repeat;
  background-size: contain;
  background-position: 20px 60px;
}
@media screen and (max-width: 960px) {
  .header {
    min-height: 100px;
    flex-direction: column;
    gap: 0em;
    padding: 2em 3em;
    background-size: 10%;
  }
}

.header h1 {
  font-size: 1.3rem;
  font-family: "Noto Serif JP", serif;
  color: #fff;
  text-shadow: 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052;
  margin-bottom: 5px;
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  .header h1 {
    font-size: 1.6rem;
  }
}

#burger {
  position: relative;
  text-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff;
}
@media (max-width: 960px) {
  #burger {
    font-size: 1.2rem;
  }
}

#search-icon {
  position: absolute;
  top: 1px;
  left: -29px;
}

/* --------------------------------------------
メイン
-------------------------------------------- */
main {
  background-image: url(../img/tatami.webp);
  flex-grow: 1;
  display: grid;
  grid-template: "checkbox checkbox" "card makimono";
  gap: 0 50px;
  padding: 3em;
  padding: 1em;
}
@media screen and (max-width: 1150px) {
  main {
    padding-right: 1em;
    gap: 1em;
  }
}
@media screen and (max-width: 960px) {
  main {
    grid-template: "checkbox" "card" "makimono";
    padding: 1em;
  }
}

.card {
  grid-area: card;
  display: flex;
  justify-content: end;
  margin-right: 60px;
}
@media (max-width: 960px) {
  .card {
    margin-right: 0;
    justify-content: center;
  }
}

.makimono {
  grid-area: makimono;
  display: flex;
  justify-content: start;
}
@media (max-width: 960px) {
  .makimono {
    justify-content: center;
  }
}

/* sp-menu */
#sp-menu {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2em 1em;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  opacity: 100%;
  background: #f7f1e0;
  border-right: 1px solid #333;
  top: 0;
  left: -100%;
  z-index: 2;
  font-family: "noto-sans-pro", sans-serif;
  line-height: 1.9;
}
@media (max-width: 960px) {
  #sp-menu {
    width: 100%;
  }
}
#sp-menu table {
  border-collapse: collapse;
  border: 1px solid #333;
  font-size: 1.17rem;
  z-index: 10;
}
#sp-menu table td {
  border: 1px solid #333;
}
#sp-menu table td:nth-child(1) {
  text-align: center;
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 960px) {
  #sp-menu table td:nth-child(1) {
    width: 30px;
  }
}
#sp-menu table td:nth-child(2) {
  padding: 1.5% 1.5% 0%;
  width: 380px;
  border-right: none;
}
@media (max-width: 960px) {
  #sp-menu table td:nth-child(2) {
    width: 310px;
  }
}
#sp-menu table td:nth-child(2) rt {
  font-size: 0.5em;
  letter-spacing: 0;
  display: block;
}
#sp-menu table td:nth-child(3) { /* 検索用の文字（非表示） */
  color: transparent;
  width: 0;
  font-size: 0;
  border-left: none;
}

#sp-menu.drawer {
  left: 0;
}

.small {
  display: block;
  font-size: 0.8em;
  text-align: right;
}

#input-container {
  width: 389px;
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 960px) {
  #input-container {
    width: 342px;
  }
}

#close {
  border: 1px solid #333;
  background: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#close span {
  position: absolute;
  height: 2px;
  width: 80%;
  inset: 0;
  margin: auto;
  background-color: #333;
  transition: 0.3s;
}
#close span:nth-child(1) {
  transform: rotate(45deg);
}
#close span:nth-child(2) {
  transform: rotate(-45deg);
}

#searchInput {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: 16px;
}
@media (max-width: 960px) {
  #searchInput {
    width: 300px;
  }
}

/* カード全体 */
.card-item {
  width: 380px;
  height: 550px;
  transform-style: preserve-3d; /* card-frontとcard-backを3d空間上に置くため */
  perspective: 1000px;
}
@media screen and (max-width: 960px) {
  .card-item {
    width: 300px;
    height: 434px;
  }
}

/* カード表 */
.card-front {
  width: 100%;
  height: 100%;
  padding: 5% 6%;
  border-radius: 2px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  border: 15px solid #4e3052;
  background-image: url(../img/huda.webp);
  backface-visibility: hidden; /* 裏面を隠す */
  position: relative;
}

.card-front dl {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 960px) {
  .card-front dl {
    gap: 10px;
  }
}

.card-front dl dt {
  writing-mode: vertical-rl;
  font-size: 1.4rem;
  text-align: center;
  text-shadow: 0px 0px 8px #f9edca, 0px 0px 8px #f9edca, 0px 0px 8px #f9edca, 0px 0px 8px #f9edca, 0px 0px 8px #f9edca, 0px 0px 8px #f9edca;
  z-index: 3;
}
.card-front dl dt rt {
  letter-spacing: 0;
}

.card-front dl dd {
  writing-mode: vertical-rl;
  font-size: 1.6rem;
  line-height: 1.95;
  letter-spacing: 0.2em;
  flex-grow: 1;
  align-items: center;
  text-shadow: 0px 0px 8px #f9edca, 0px 0px 8px #f9edca, 0px 0px 8px #f9edca, 0px 0px 8px #f9edca, 0px 0px 8px #f9edca, 0px 0px 8px #f9edca;
  z-index: 3;
}
@media (max-width: 960px) {
  .card-front dl dd {
    line-height: 1.95;
  }
}

.card-front ruby {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.card-front rt {
  display: none;
}
@media (max-width: 960px) {
  .card-front rt {
    display: none;
  }
}

dd rt {
  font-size: 0.6em;
  letter-spacing: -0.1em;
}

.card-front img {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -1%);
  width: 98%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* カード裏 */
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  backface-visibility: hidden; /* 裏面を隠す */
  border: 15px solid #4e3052;
  background-image: url(../img/huda.webp);
  background-size: cover;
  padding: 2em 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 960px) {
  .card-back {
    padding: 1em 1em 0;
  }
}
.card-back p {
  writing-mode: vertical-rl;
  font-size: 3.4em;
  line-height: 1.8;
  letter-spacing: 2.7rem;
  height: -moz-fit-content;
  height: fit-content;
  text-align: justify;
  transform: translate(-0.05em, 0.15em);
}
@media (max-width: 960px) {
  .card-back p {
    letter-spacing: 2rem;
    transform: translate(-0.1em, 0);
  }
}

/* クリックしたときの動作 表*/
.card-item.active .card-front {
  transform: rotateY(180deg);
}

/* クリックしたときの動作 表*/
.card-item.active .card-back {
  transform: rotateY(0);
}

/* 矢印 */
#next,
#back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -55px;
  display: block;
  height: 50px;
  width: 50px;
  background: #b82343;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #fff;
}
@media screen and (max-width: 960px) {
  #next,
  #back {
    height: 60px;
    width: 50px;
    right: -35px;
  }
}

#back {
  left: -55px;
}
@media screen and (max-width: 960px) {
  #back {
    left: -35px;
  }
}

#next:hover,
#back:hover {
  cursor: pointer;
}

/* -----巻き物：補足説明----- */
.explanation {
  width: 500px;
  max-height: 790px;
  background-color: #f7f1e0;
  opacity: 0.9;
  padding: 20px;
  font-family: "noto-sans-jp", sans-serif;
}
@media screen and (max-width: 960px) {
  .explanation {
    width: 300px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: 2000px;
    padding: 15px;
    margin-top: 20px;
  }
}

.explanation dl:not(:last-child) {
  border-bottom: 1px solid #4e3052;
  padding-bottom: 15px;
}

.explanation dt {
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 1.3rem;
  margin-bottom: 0.3em;
  width: -moz-fit-content;
  width: fit-content;
  border-left: 5px solid #b82343;
  color: #333;
  padding: 0 6px;
}
@media screen and (max-width: 960px) {
  .explanation dt {
    font-size: 1.3rem;
  }
}

.explanation dl:nth-child(n+2) > dt {
  margin-top: 0.8em;
}

.explanation dd {
  font-size: 1.1rem;
  line-height: 1.75;
  letter-spacing: 0.05em;
}
.explanation dd rt {
  letter-spacing: 0;
}
@media screen and (max-width: 960px) {
  .explanation dd {
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

/* ----------------------
フッター
------------------------- */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 5%;
  width: 100%;
  height: 60px;
  font-family: "noto-sans-pro", sans-serif;
  background-image: url(../img/purple_pattern.png);
  background-repeat: repeat;
  background-size: contain;
  background-position: 20px 60px;
}
@media screen and (max-width: 960px) {
  footer {
    background-size: 10%;
  }
}

footer p {
  color: #fff;
  text-shadow: 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052, 0px 0px 3px #4e3052;
  text-align: center;
  font-size: 1rem;
}

/* ----------------------
このサイトについて
------------------------- */
.about-main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 3em;
}

.section {
  width: 400px;
  padding: 3% 4% 1%;
  margin: 0 auto;
  font-family: "noto-sans-pro", sans-serif;
  background: #f9edca;
}
.section h3 {
  background: #b82343;
  color: #fff;
  font-size: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 5px 0px;
  margin-bottom: 10px;
}
.section p {
  font-size: 1.1rem;
  line-height: 1.8em;
  letter-spacing: 0.08em;
  margin-bottom: 0.8em;
}

/* ----------------------
トップに戻る
------------------------- */
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 1;
  z-index: 99;
}

#page-top a {
  background: #b82343;
  text-decoration: none;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 28px 5px;
  text-align: center;
  display: block;
  border-radius: 90px;
  opacity: 0.9;
  transition: all 0.3s ease;
}

#page-top a:hover {
  text-decoration: none;
  opacity: 0.5;
}

/* ---------------------------
テーマ・歌人セレクター
--------------------------- */
.select-container {
  background-color: #f7f1e0;
  opacity: 0.9;
  padding: 1em;
  margin-bottom: 10px;
  position: relative;
  height: 230px;
}
.select-container .selector {
  height: 50px;
  padding-left: 6px;
  display: block;
}
.select-container #themeSelector {
  height: 50px;
  font-size: 1.1rem;
  width: 300px;
  transform: translateX(30px);
  margin-bottom: 5px;
}
@media screen and (max-width: 960px) {
  .select-container #themeSelector {
    width: 240px;
  }
}
@media screen and (max-width: 960px) {
  .select-container {
    font-size: 14px;
    width: 300px;
  }
}

#jsonSelector {
  margin-bottom: 10px;
  width: 300px;
  transform: translateX(30px);
  font-size: 1.1rem;
  z-index: 2;
}
@media screen and (max-width: 960px) {
  #jsonSelector {
    font-size: 14px;
    width: 240px;
  }
}

option {
  font-size: 1rem;
}

#line {
  position: absolute;
  width: 23px;
  height: 56px;
  top: 41px;
  left: 24px;
}
@media (max-width: 960px) {
  #line {
    width: 22px;
    left: 22px;
  }
}

/* ---------------------------
スマホ用の平仮名トグルボタン
--------------------------- */
.checkbox1 {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
@media (max-width: 960px) {
  .checkbox1 {
    margin-bottom: 5px;
  }
}

.checkbox2 {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}
@media (max-width: 960px) {
  .checkbox2 {
    margin-bottom: 5px;
  }
}

input#toggle3 {
  position: relative;
  height: 30px;
  width: 30px;
  background: #e6e6e6;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}
input#toggle3::before {
  height: 20px;
  width: 14px;
  position: absolute;
  left: 0;
  content: "";
  border-right: 5px solid #b82343;
  border-bottom: 5px solid #b82343;
  transform: rotate(45deg) translate(4px, -5px);
  transition: 0.2s;
}
input#toggle3:checked::before {
  display: none;
}

input#toggle2 {
  position: relative;
  height: 30px;
  width: 60px;
  margin: 0 10px;
  background: #e6e6e6;
  -webkit-appearance: none; /* 要素がブラウザのデフォルトの外観を持たないように指定 */
  -moz-appearance: none;
  appearance: none;
  border-radius: 30px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
input#toggle2::before {
  height: 100%;
  width: 30px;
  position: absolute;
  left: 0;
  content: "";
  background: #b82343;
  border-radius: 50%;
  transform: scale(0.85);
  transition: 0.2s;
}
input#toggle2:checked::before {
  left: 30px;
}/*# sourceMappingURL=style.css.map */